
<!doctype html>
<html lang="en">

<!-- Mirrored from thememakker.com/templates/oreo/realestate/html/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Dec 2019 06:06:28 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
<meta name="author" content="Thememakker">

<title>:: Oreo RealEstate :: Home</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
<% if(typeof(styles) != "undefined" && styles !== null){  %>
    <% styles.forEach(function(styleLink) { %>
       <link rel="stylesheet" href="<%= host+styleLink %>">
    <% }); %>
<% } %>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="<%= host %>/javascript/auth.js"></script>
</head>
<body class="theme-purple">
<!-- Page Loader -->
<div class="page-loader-wrapper" id="page_loader">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/logo.svg" width="48" height="48" alt="Oreo"></div>
        <p>Please wait...</p>        
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<script>
    new Vue({
        el: '#page_loader',
        data:{
            errorResponse: null,
            token: null
        },
        mounted(){
            if (localStorage.token) {
                this.token = localStorage.token
                authChecker(this.token).then((result) => {
                    if(result.auth===false){
                        window.location = '/login'
                    }
                })
            }else{
                window.location = '/login'
            }
        }
    })
</script>   