<% include ../../partials/header %>

<% include ../../partials/nav %>

<% include ../../partials/left-sidebar %>

<!-- Main Content -->
<section class="content">
    
    <% include ../../partials/content/header %>
    
    <div class="container-fluid" id="add_data_section">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Create</strong> Property Information</h2>
                        <button v-if="!formDisplay" @click="propcessCompleted" type="button" class="btn btn-primary float-right">Complete</button>
                        <br/>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <% include ../notification/message %>
                            </div>
                        </div> 
                        
                        <form @submit.prevent="addProperty" v-if="formDisplay">
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mt-2 mb-2">Project</h6>
                                    <div class="form-group">
                                        <select class="form-control" @change="getProjectTypes(project)" v-model="project">
                                            <option value="">-- Select Project --</option>
                                            <option v-for="(projectInfo, index) in allProject" :key="index" :value="projectInfo._id">{{projectInfo.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <template v-if="projectTypes && projectTypes.length > 0">
                                        <h6 class="mt-2 mb-2">Project Types</h6>
                                        <div class="radio inlineblock m-r-20" v-for="(type, index) in projectTypes">
                                            <input :id="type.name" name="projectType" v-model="projectSelectedType" :value="type._id" type="radio">
                                            <label :for="type.name" class="text-capitalize">{{type.name}}</label>
                                        </div>
                                    </template>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="mt-2 mb-2">Property Types</h6>
                                    <div class="checkbox inlineblock m-r-20" v-for="(type, index) in propertyTypes">
                                        <input :id="'checkbox_'+ type._id" v-model="propertySelectedType" :value="type._id" type="checkbox">
                                        <label :for="'checkbox_'+ type._id" class="text-capitalize">{{type.name}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <h6 class="mt-2 mb-2">Property Location</h6>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" v-model="division" @change="getZillaList(division)">
                                            <option value="" :selected="division == ''">-- Division --</option>
                                            <option :value="{ id: division.id, name: division.name }" v-for="division in divisionList">{{division.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control"  v-model="district" @change="getThanaList(district)">
                                            <option value="" :selected="district == ''">-- District --</option>
                                            <option :value="{ id: zilla.id, name: zilla.name }" v-for="zilla in zillaList">{{zilla.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" v-model="location">
                                            <option value="" :selected="location == ''">-- Thana --</option>
                                            <option :value="{ id: thana.id, name: thana.name }" v-for="thana in thanaList">{{thana.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="address" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3 clearfix">
                                <div class="col-sm-12">
                                    <h6 class="mt-2 mb-2">Property Details</h6>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="name" placeholder="Property Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="summery" placeholder="Property Summery">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" @keyup="getPhoneNumber($event, phoneNumber)" v-model="phoneNumber" placeholder="Phone no.">
                                    </div>
                                    <span class="badge badge-primary" style="font-size: 12px; cursor: pointer;margin-right: 5px;" v-for="(number, index) in phone" :key="index">{{number}} <span aria-hidden="true" @click="removePhoneNumber(index)">&times;</span></span> 
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="parking" placeholder="Parking no.">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" class="form-control no-resize" v-model="details" placeholder="Property Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3 clearfix">
                                <div class="col-sm-12">
                                    <h6 class="mt-2 mb-2">Property Other</h6>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">-- Select Agents --</option>
                                            <option value="10">Male</option>
                                            <option value="20">Female</option>
                                        </select>
                                    </div>
                                    <span class="badge badge-primary" style="font-size: 12px; cursor: pointer;">019183224568 <span aria-hidden="true">&times;</span></span>
                                    <span class="badge badge-primary" style="font-size: 12px; cursor: pointer;">019183224568 <span aria-hidden="true">&times;</span></span>
                                    <span class="badge badge-primary" style="font-size: 12px; cursor: pointer;">019183224568 <span aria-hidden="true">&times;</span></span>
                                </div> -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="mapLink" placeholder="Google map embed link">
                                    </div>
                                </div>
                            </div>    
                            
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <button type="submit" :disabled="isDisable" class="btn btn-primary btn-round">Save</button>
                                    <button @click="clearInputFields" type="button" class="btn btn-default btn-round btn-simple">Reset</button>
                                </div>
                            </div>
                        </form>

                        <div class="row" v-else>
                            <div class="col-lg-6 offset-lg-3">
                                <h6 class="mt-2 mb-2">Upload files for this project</h6>
                                <div class="upload_fields">
                                    <div class="custom-file">
                                      <input type="file" @change="uploadFile" :disabled="isLoading" id="uploadedFile" class="custom-file-input" />
                                      <label class="custom-file-label" for="customFile">Upload property photos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <template v-if="uploadedImages && uploadedImages.length > 0">
                                        <div class="spinner-border text-primary mt-4" v-if="isLoading" style="margin: 0 auto" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <template v-else>
                                            <div class="col-lg-3 col-md-6 mt-4 position-relative" v-for="(uploadedImage, index) in uploadedImages">
                                                <img class="img-thumbnail img-fluid" :src="uploadedImage" alt="img">
                                                <button @click="removeFile(index)" class="btn btn-icon btn-neutral btn-icon-mini position-absolute delete-button-position"><i class="zmdi zmdi-delete"></i></button>
                                            </div>
                                        </template>
                                    </template>    
                                    <template v-else>
                                        <div class="spinner-border text-primary mt-4" v-if="isLoading" style="margin: 0 auto" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="col-lg-12 clearfix" v-else>
                                            <p class="text-center mt-5">No image uploaded for this property</p>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="<%= host %>/javascript/data_manipulation.js"></script>
<script src="<%= host %>/data/location.js"></script>
<script>
    new Vue({
        el: '#add_data_section',
        data:{
            allProject: [],
            project: '',
            propertySelectedType: [],
            projectSelectedType: '',
            agents: [],
            phone: [],
            projectTypes: [],
            propertyTypes: [],
            divisionList: [],
            zillaList: [],
            thanaList: [],
            division: '',
            location: '',
            phoneNumber: '',
            district: '',
            address: '',
            parking: null,
            mapLink: null,
            name: '',
            details: '',
            summery: '',
            errorResponse: null,
            successResponse: null,
            isDisable: false,
            formDisplay: true,
            propertyID: null,
            uploadedImages: [],
            isLoading: false
        },
        mounted(){
            this.getProjects()
            this.getPropertyTypes()
            this.divisionList = divisionListInfo
        },
        methods:{
            getProjects(){
                let requestLink = '/api/project'
                getData(requestLink).then((result) => {
                    if(result.auth === true){
                        this.allProject = result.response.data
                    }
                })
            },
            getProjectTypes(index){
                this.projectTypes = this.allProject.filter(project => project._id === index)[0].type
            },
            getZillaList(division){
                this.zillaList = districtListInfo.filter(district => district.division_id === division.id)
                this.district = ''
            },
            getThanaList(district){
                this.thanaList = thanaListInfo.filter(thana => thana.district_id === district.id)
                this.location = ''
            },
            getPropertyTypes(){
                let requestLink = '/api/property/type'
                getData(requestLink).then((result) => {
                    if(result.auth === true){
                        this.propertyTypes = result.response.data
                    }
                })
            },
            getPhoneNumber(e, phoneNo){
                if (e.keyCode == 188) {
                    let phoneNumberData = phoneNo.trim().split(',')[0]
                    this.phone.push(phoneNumberData)
                    this.phoneNumber = ''
                }
            },
            removePhoneNumber(removeindex){
                this.phone = this.phone.filter((value, index) => index !== removeindex)
            },
            clearNotification(){
                this.errorResponse = null
                this.successResponse = null
            },
            clearInputFields(){
                this.project = ''
                this.projectSelectedType = ''
                this.propertySelectedType = []
                   
                this.name = ''
                this.details = ''
                this.summery = ''
                this.address = ''
                this.location = ''
                this.district = ''
                this.division = ''
                this.phone = []
                this.parking = ''
                this.mapLink = ''
            },
            addProperty(){
                this.clearNotification();
                this.isDisable = true
                let phone = ''
                let agent = ''
                let property_type = ''
                this.phone.forEach((value, index) => {
                    if(this.phone.length === index+1)
                    {
                        phone += value
                    }else{
                        phone += value+',' 
                    }
                    
                })

                this.agents.forEach((value, index) => {
                    if(this.agent.length === index+1)
                    {
                        agent += value
                    }else{
                        agent += value+',' 
                    }
                    
                })

                this.propertySelectedType.forEach((value, index) => {
                    if(this.propertySelectedType.length === index+1)
                    {
                        property_type += value
                    }else{
                        property_type += value+',' 
                    }
                })

                let propertyInfo = {
                    project: this.project,
                    project_type: this.projectSelectedType,
                    property_type: property_type,
                    agents: agent,
                    name: this.name,
                    details: this.details,
                    summery: this.summery,
                    address: this.address,
                    location: this.location,
                    city: this.district,
                    division: this.division,
                    phone: phone,
                    parking_no: this.parking,
                    map: this.mapLink
                }

                let requestLink = '/api/property'
                let token = localStorage.getItem('token')

                addNewData(requestLink, propertyInfo, token).then((result) => {
                    if(result.auth===false)
                    {
                        this.errorResponse = result.response 
                    }else{
                        this.successResponse = result.response
                        this.propertyID = this.successResponse.data._id
                        this.formDisplay = false
                        this.clearInputFields()
                    }
                    this.isDisable = false
                })
            },
            uploadFile(){
                this.isLoading = true
                this.clearNotification();
                let file = document.getElementById("uploadedFile").files[0]
                let data = new FormData()
                data.append('file', file)
               
                let requestLink = '/api/property/'+ this.propertyID +'/image/upload'
                let token = localStorage.getItem('token')
                uploadImageUpdateInfo(requestLink, data, token).then((result) => {
                    console.log(result.response)
                    if(result.auth===false)
                    {
                        this.errorResponse = result.response 
                    }else{
                        this.successResponse = result.response
                        this.isLoading = false
                        this.uploadedImages = result.response.data.images
                    }
                })
            },
            removeFile(imageIndex){
                this.isLoading = true
                let data = {
                    image_index: imageIndex
                }
                let requestLink = '/api/property/'+ this.propertyID +'/image/remove'
                let token = localStorage.getItem('token')

                updateDataInfo(requestLink, data, token).then((result) => {
                    console.log(result.response)
                    if(result.auth===false)
                    {
                        this.errorResponse = result.response 
                    }else{
                        this.successResponse = result.response
                        this.isLoading = false
                        this.uploadedImages = result.response.data.images
                    }
                    
                })
            },
            propcessCompleted(){
                this.clearInputFields()
                this.formDisplay = true
                this.isLoading = false
                this.uploadedImages = []
                this.propertyID = null
                this.errorResponse = null
                this.successResponse = null
            }
        }
    })
</script>

<% include ../../partials/footer %>