<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h2><%= data.pageTitle %>
            <small>Welcome to Amanahomes Ltd.</small>
            </h2>
        </div>            
        <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">
            <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">3,2,6,5,9,8,7,9,5,1,3,5,7,4,6</div>
                <small class="col-white">Visitors</small>
            </div>
            <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>
                <small class="col-white">Bounce Rate</small>
            </div>
            <% if(breadcumb.sub.length > 0){ %>
                <% if(breadcumb.sub[0].text === 'type' || breadcumb.sub[0].text === 'role'){ %>
                <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right ml-3" type="button" @click="add_type_section">
                    <i class="zmdi zmdi-plus"></i>
                </button>
                <% } %>
            <% } %>
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item" style="text-transform: capitalize;"><a href="<%= breadcumb.main.link %>"><i class="zmdi zmdi-home"></i> <%= breadcumb.main.text %></a></li>
                <% if(breadcumb.sub.length > 0) { %>
                    <% for(var i = 0; i < breadcumb.sub.length; i++) { %>
                    <li class="breadcrumb-item active" style="text-transform: capitalize;"><%= breadcumb.sub[i].text %></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</div>