<% include ../../partials/header %>

<% include ../../partials/nav %>

<% include ../../partials/left-sidebar %>


<!-- Main Content -->
<section class="content">
    
    <% include ../../partials/content/header %>
    
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">                   
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table td_2 table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Property</th>
                                        <th>Address</th>
                                        <th>Beds</th>
                                        <th>sq. ft</th>
                                        <th>Agent</th>
                                        <th>Sale/Rent</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Chicago</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-primary mb-0">Sale</span></td>
                                        <td>$320,800</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Luxury Apartment</td>
                                        <td>chelsea</td>
                                        <td>3 BHK</td>
                                        <td>1,320 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-success mb-0">Rent</span></td>
                                        <td>$2,800</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Chicago</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-primary mb-0">Sale</span></td>
                                        <td>$30,800</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Chicago</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-primary mb-0">Sale</span></td>
                                        <td>$320,800</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Luxury Apartment</td>
                                        <td>chelsea</td>
                                        <td>3 BHK</td>
                                        <td>1,320 ft2</td>
                                        <td>Eliana Smith</td>
                                        <td><span class="badge badge-success mb-0">Rent</span></td>
                                        <td>$2,800</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Chicago</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-primary mb-0">Sale</span></td>
                                        <td>$30,800</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Austin</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Eliana Smith</td>
                                        <td><span class="badge badge-primary mb-0">Sale</span></td>
                                        <td>$25,800</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Luxury Apartment</td>
                                        <td>chelsea</td>
                                        <td>3 BHK</td>
                                        <td>1,320 ft2</td>
                                        <td>Matthew Deo</td>
                                        <td><span class="badge badge-success mb-0">Rent</span></td>
                                        <td>$2,800</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Texas</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Matthew Deo</td>
                                        <td><span class="badge badge-success mb-0">Rent</span></td>
                                        <td>$15,025</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Chicago</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-success mb-0">Rent</span></td>
                                        <td>$35,251</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Luxury Apartment</td>
                                        <td>Florida</td>
                                        <td>3 BHK</td>
                                        <td>1,320 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-success mb-0">Rent</span></td>
                                        <td>$2,800</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Beautiful home for sale</td>
                                        <td>Pioneers park</td>
                                        <td>4 BHK</td>
                                        <td>2,000 ft2</td>
                                        <td>Maria Barlow</td>
                                        <td><span class="badge badge-primary mb-0">Sale</span></td>
                                        <td>$30,800</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% include ../../partials/footer %>